:root {
  background-color: #e0e0e0;
  }
  @media (prefers-color-scheme: light) {
  :root {
  background-color: #e0e0e0;
  }
}


.add-column-button {
 
  width: 7cm;
  height: 1cm;
}

.add-card-button {
  width: 7cm;
  height: 1cm;
}